<div class='col-md-12'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>

    <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user %>
        </td>

        <td>
          <%= link_to "Editar", edit_user_url(user.id) %>
        </td>

        <td>
          <%= link_to "Excluir", user,  method: :delete, data: { confirm: 'Tem certeza ?' }  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
