footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 5%;
  background-color: #337AB7;
  color: white;
}

footer a {
  color: white;
}

footer ul {
  float: right;
  list-style: none;
  margin-top: 0.5%;
}
