// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-page {
  margin-top: 80px;

  img {
    display: block;
    margin: 0px auto;
    width: 320px;
    height: 320px;
  }
}
