<footer class="footer">
  <div class="container">
    <nav>
      <ul id="footer">
        <li>EnGerir, 2016</li>
      </ul>
      <ul>
        <li><%= link_to "Sobre", about_path %></li>
      </ul>
    </nav>
  </div>
</footer>
